.p__fab {
    cursor: pointer;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: var(--primary);
    color: var(--grey-light);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--green-primary);
}

.accent {
    background-color: var(--secondary);
}

.danger {
    background-color: var(--secondary-dark);
}